.palettes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.palette {
    margin: 20px;
    border-radius: 15px;
    width: 200px;
    cursor: pointer;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.5);
}

.colour {
    padding: 3px;
    display: flex;
    height: 40px;
}

.hex {
    width: 100px;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0);
}

.rgb {
    width: 200px;
    text-align: right;
    color: rgba(0, 0, 0, 0);
}
